<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Send SMS APP</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <div class="container">
        <h2>Send Message</h2>
        <!-- phone number input field -->
        <input type="tel" name="number" id ="number" placeholder="Enter phone number">

        <!-- message input field -->
        <input type="text" name="msg" id ="message" placeholder="Enter message to send..">

        <!-- submit button -->
        <input type="button" id ="button" value="Send">

        <!-- Socket.io response in a paragraph -->
        <p class="response">

        </p>
    </div>

    <!-- link to js scripts and socket -->
    <script src="/socket.io/socket.io.js"></script>
    <script src="js/main.js"></script>
</body>
</html>